* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 1.5rem;
  background: #fdeeb1;
  width: 90%;
  margin: 4rem auto;
  text-align: center;
  line-height: 1.3;
}

header {
  margin-top: 6rem;
  margin-bottom: 12rem;
}

.navbar {
  display: flex;
  border: 0.5rem solid #f9c764;
  justify-content: end;
}

.navbar div {
  padding: 1rem;
  background: #79d6b0;
  color: #fdeeb1;
  font-weight: 600;
}

.navbar div:nth-child(even) {
  background: #f26563;
}

.home {
  margin-right: auto;
}

.lesson-5-1 .navbar div {
  flex: 1;
}

.lesson-5-2 .navbar .home,
.lesson-5-2 .navbar .logout {
  flex: 1;
}

.lesson-6 .navbar {
  height: 20rem;
  align-items: center;
  justify-content: start;
}

.lesson-6 .home {
  align-self: end;
  margin-right: 0;
}

.lesson-6 .logout {
  align-self: start;
}

.lesson-7 .navbar {
  flex-direction: column;
  height: 30rem;
  justify-content: end;
  align-items: start;
}

.lesson-7 .home {
  margin-right: 0;
}

.lesson-8-1 .navbar {
  justify-content: start;
  flex-wrap: nowrap;
}

.lesson-8-1 .navbar div {
  width: 1000px;
}

.lesson-8-1 .home {
  margin-right: 0;
}

.lesson-8-2 .navbar {
  justify-content: start;
  flex-wrap: wrap;
}

.lesson-8-2 .navbar div {
  width: 1000px;
}

.lesson-8-2 .home {
  margin-right: 0;
}

.lesson-10-1 .navbar {
  justify-content: start;
}

.lesson-10-1 div {
  flex-basis: 20%;
}

.lesson-10-1 .home {
  margin-right: 0;
}

.lesson-10-2 .navbar {
  justify-content: start;
}

.lesson-10-2 div {
  flex-basis: 20%;
}

.lesson-10-2 .home {
  margin-right: 0;
}

.lesson-10-2 .search {
  order: 1;
}

@media (max-width: 600px) {
  header {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  .navbar {
    border: 0.2rem solid #c7a051;
  }
  .navbar div {
    padding: 0.3rem;
  }
  body {
    font-size: 14px;
  }

  .lesson-6 .navbar {
    height: 10rem;
  }

  .lesson-7 .navbar {
    height: 10rem;
  }
}
